.todolistContainer{
}
.todolistContainer .todoItem {
    position: initial;
    height: 42px;
}
.todoItemBtnGroup{
    /*position: absolute;*/
    /*bottom: 4px;*/
    /*right: 5px;*/
    margin: -8px;
}
.todoTag{
    cursor: pointer;
    font-size: 14px;
    margin: 1px;
    display: inline-block;
    float: left;
    border: 1px solid #777;
}
.todoTag:hover{
    background-color: white;
    color: #777;
}
.tagBoxContainer{
    width: 157px;
    overflow: hidden;
    /*float: left;*/
    margin-top: 2px;
}
.crossLine{
    width: 100%;
    border: 1px solid black;
    margin: 2px;
    float: left;
    clear: both;
}
.tagFilterContainr {
    padding-left: 0;
}
#tagFilterInput{
    width: 90%;
}
.tagFilterBtn{
    width: 50%;
}
