::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background:rgba(1,1,1,.5);
}

#newTodoInputContainer {
    padding: 0 10px;
}

#newTodoInputContainer .newTodoInput {
    height: 34px;
    resize: none;
}

div[contenteditable="true"]:empty:before {
    content:attr(placeholder);
    color:#bbb;
}
div[contenteditable="true"]:focus:before {
    /*content:none;*/
}

.newTodoBtn {
    margin-top: -2px;
}

.todolistContainer {
    min-height: 200px;
    width: 80%;
    float: left;
    margin-top: 10px;
    padding: 0 10px !important;
}

.todolistContainer .todoItem {
    display: flex;
    width: 100%;
    position: initial;
    min-height: 42px;
}

.todoItem .todoItemInput{
    height: auto;
}

.todoItem .todoCont {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.todoItemBtnGroup {
    /*position: absolute;*/
    /*bottom: 4px;*/
    /*right: 5px;*/
    display: table-cell;
    vertical-align: middle;
    margin: -8px;
    margin-right: -16px;
    margin-left: 2px;
}

/*筛选栏*/
.filterContainer {
    width: 20%;
    float: right;
    margin-top: 10px;
    padding-right: 10px;
}

.filterBox {
    width: 100%;
}

.filterBox, .tagFilterContainer {
    /*box-shadow: 0 2px 4px rgba(0,0,0,.175);*/
    box-shadow: none;
}

.btn.filter {
    width: 100%;
}

/*标签盒子*/
.tagsBox {
    width: 157px;
    overflow: hidden;
    /*float: left;*/
    margin-top: 2px;
}

.tagFilterBtn {
    border-radius: 0;
}

.crossLine {
    width: 100%;
    border-top: 1px #777 solid;
    margin: 2px;
    float: left;
    clear: both;
}

.todoTag {
    cursor: pointer;
    font-size: 14px;
    margin: 1px;
    display: inline-block;
    float: left;
    border: 1px solid #777;
}

.todoTag:hover {
    background-color: white;
    color: #777;
}

.todoTag.otherTag {
    border: 1px solid #777;
}

.todoTag.myTag, .todoTag.noTag {
    border: 1px solid #428bca;
}

.todoTag.otherTag:hover {
    background-color: white;
    color: #777;
}

.todoTag.myTag:hover, .todoTag.noTag:hover {
    background-color: white;
    color: #428bca;
}

/*标签筛选栏*/
.tagFilterContainer {
    display: block;
    position: initial;
    width: 100%;
    margin-top: 10px;
    /*border-top: 0;*/
    border-radius: 4px;
    padding-top: 0;
    border: 1px solid #cccccc;
    overflow: hidden;
}

#tagFilterBtnGroupContainer {
    border: 0;
    padding: 0;
    margin-bottom: 5px;
}

.tagFilterBtnGroup {
    overflow: hidden;
}

.tagFilterWayBtn {
    border-radius: 0;
    width: 50%;
}

.btn-group > .tagFilterWayBtn:first-child:not(:last-child) {
    border-left: 0;
}

.btn-group > .tagFilterWayBtn:last-child:not(:first-child) {
    border-right: 0;
}

.tagMenuContainer {
    position: initial;
    width: 100%;
    display: block;
    box-shadow: none;
    border: 0;
    min-width: inherit;
}

.tagMenuContainer li a {
    padding: 3px 10px;
}

#tagMenuCrossline {
    display: none;
}

#tagFilterInput {
    /*width: 90%;*/
    /*border-radius: 4px 4px 0 0;*/
    border: 0;
}
